.Image{
    background-image: url("../image/happy-black-couple-travelling-by-bus-chicago_108072-2050.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding-top: 50px;
}
.heading{
    text-align: center;
}
.about-text{
    text-align: center;
}
.text-below-img ul 
{
    display: flex;
    list-style: none;
    color: black;
    justify-content: space-around;

}
.text-below-img ul li 
{
    margin: 15px;
    padding: 15px;
    list-style: none;
    display: inline;
    padding: 25px;
    font-size: 17px;
    position: relative;
    z-index: 3;
    
}