body {
    background: #e5e5e5;
}

#banner {
    height: 78%;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8) 100%), url("../images/banner.jpg") center center / cover no-repeat;
}

#banner .search-area {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#banner .search-area label {
    font-weight: 550;
    font-size: 14px;
}

#banner .search-area input {
    height: 43px;
}
#banner .btn-search:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.result-card {
    background: transparent;
    border-radius: 15px;
    margin-bottom: 25px;
}

.result-card .bus-reg{
    font-weight: 700;
}

.result-card .btn-bookseats{
    background-color: #FA9F3E;
    color: #fefefe;
    margin-top: -5px;
}
.result-card .btn-bookseats:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.empty-results h3{
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .trip-details>div:not(:last-child){
        display: flex;
    }
    .trip-details>div>p:last-child{
        margin-left: auto;
    }
}