@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
/* global styles */

html, body {
    height: 100%;
    font-family: Poppins, Nunito, serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    padding: 1px 20px 1px 15px;
    background-color: #0F2050;
    color: #ccc;
}

.header .contact {
    font-size: 13px;
}

header>nav {
    display: flex;
    background-color: #286DED;
    padding: 5px 30px 0px;
    align-items: center;
}

.logo>h1 {
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    margin: 0 0 8px;
}

.logo .letter {
    width: 50px;
    height: 50px;
    background: #FA9F3E;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.logo .logo-link{
    text-decoration: none;
    color: #fff;
}

.social-icons {
    margin-left: auto;
}

.social-icons a {
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
}

.nav-bar{
    display: flex;
}

.nav-bar>li{
    list-style: none;
    padding: 0 20px;
}

.nav-bar>li>a{
    text-decoration: none;
    color: #fefefe;
    padding-bottom: 5px;
}

.nav-bar>li>a:hover{
    color: #fff;
    border-bottom: 3px solid #FA9F3E;
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s linear;
    outline: none;
}

.btn-auth{
    border-radius: 50px;
    background-color: #FA9F3E;
    color: #fff;
}

/* footer */

.footer{
    display: flex;
    margin-top: 50px;
    background-color: #286DED;
    padding: 20px 5px 5px;
    flex-wrap: wrap;
    color: #fefefe;
}

.footer>div{
    flex: 1 0 33%;
}
footer .follow-us{
    margin-right: -50px;
}
footer  .header .social-icons a{
    font-size: 14px;
}
footer .header .social-icons a:hover{
    color: #286DED !important;
    text-decoration: underline !important;
}

@media screen and (max-width: 992px) {
    .nav-bar>li:not(:last-child){
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .social-icons a {
        padding: 0px 5px;
    }
    .header .contact {
        font-size: 10px;
    }
    .header {
        padding: 2px 10px;
    }
    header>nav {
        padding: 5px 10px 0px;
    }.justify-content.justify-content-center{
        justify-content: center;
    }-center{
        justify-content: center;
    }
    .btn-auth{
        padding: 8px 10px;
    }
    .nav-bar>li{
        list-style: none;
        padding: 0 5px;
    }
    .footer>div{
        flex: 1 0 100%;
        margin-top: 10px;
    }
    .footer .logo h1{
        justify-content: center;
    }

    .btn-auth{
        font-size: 12px;
    }
    footer .follow-us{
        margin-right: 0px;
    }
}

.text-white {
    color: #fff;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}
.text-center{
    text-align: center;
}

